body {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(135deg, rgb(255, 75, 105), rgb(206, 47, 74), rgb(143, 6, 143));
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

}

.game-container {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border: 0px solid;
}

.card {
  width: 50%;
  padding: 4rem 0;
  background-color: rgb(250, 190, 200);
  text-align: center;
  border: 0px solid;
  position: relative;
}

.player-1-card  {
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.player-2-card  {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.card-title {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: inherit;
}

.total-score-value {
  font-size: 3rem;
  color: rgb(232, 43, 74);
  margin-bottom: 5rem;
}

.current-score-container  {
  display: inline-block;
  background-color: rgb(232, 43, 74);
  padding: 1rem 2.5rem;
  border: 0px solid;
  border-radius: 5px;
}

.current-score-title  {
  font-size: 0.75rem;
  color: #fff;
  margin-bottom: 0.75rem;
}

.current-score-value  {
  font-size: 1.5rem;
  color: #fff;
}

.btn  {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.35rem 0.75rem;
  border: 0px solid;
  border-radius: 1.5rem;
  opacity: 0.8;
}

.btn-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.new-game {
  top: 7%;
}

.roll-dice  {
  bottom: 30%;
}

.hold {
  bottom: 17%;
}

.dice-image {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
}

.overlay  {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(227, 61, 61, 0.3);
}

.active {
  display: none;
}

.hidden {
  display: none;
}

.winner-card {
  background-color: rgb(48, 47, 47);
  color: rgb(232, 43, 74);

}


/* 
@media screen and (max-width: 1000px) {
  
} */